/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ページ全体 */
body {
  background-color: white;
  color: black;
  margin: 0; padding: 0;
  font-family: Meiryo, sans-serif;
}

/* リンク */
a:link { color: #00c; }
a:visited { color: #00c; }
a:hover { color: #ccf; }
a img { border: none; }

/* ブロック要素 */
p, h1, h2, h3, table, ul {
  margin: 0 0 1em;
}

/* 全体の枠 */
#container {
  margin: 0 auto;
  padding-top: 5px;
  width: 90%;
}

/* 左の枠（コンテンツを入れる） */
#content {
  float: left;
  width: 70%;
  padding: 10px 10px 10px 0;
}

/* 右の枠（サイドバーを入れる） */
#sidebar {
  float: left;
  width: 20%;
  background-color: #e8ffff;
  padding: 5px;
  font-size: 86%;
}

/* ヘッダー */
#header {
  border-top: 4px solid #6bb;
}

.account-menu {
  float: right;
  padding: 5px;
  margin: 5px
}

/* フッター */
#footer {
  clear: both;
  font: 11px Verdana;
  color: #888;
  padding: 8px 0;
  border-top: 4px solid #6bb;
  text-align: center;
}

/* メニューバー */
nav.menubar {
  background-color: #000;
  color: #ccc;
  font-size: 80%;
  padding: 8px 16px;
  font-weight: bold;
  vertical-align: bottom;
  margin-right: 10px
  display: inline;
}


/* メニューバーのリンク */
div.menubar a { text-decoration: none; }

/* メニューバーのリンク（未訪問） */
div.menubar a:link { color: #ccc; }

/* メニューバーのリンク（訪問済） */
div.menubar a:visited { color: #ccc; }

/* メニューバーのリンク（マウスを合わせたとき） */
div.menubar a:hover {
  color: #f88;
  text-decoration: underline;
}

/* メニューバーのリンク（現在のページ） */
div.menubar span {
  color: #ff8;
  font-weight: bold;
}

/* メインコンテンツ */
#content h1 {
  color: #88c;
  font-weight: normal;
  font-size: 150%;
  border-bottom: 2px solid #88c;
  margin-bottom: 0.5em;
}

#content h2 {
  color: #99d;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccf;
}

#content p, div#content ul {
  font-size: 90%;
  line-height: 1.5;
}

/* サイドバー */
#login_form td {
  font-size: 12px;
}

#sidebar h2 {
  color: #080;
  font-weight: bold;
  border-bottom: 1px dotted #080;
  margin-bottom: 0.5em;
  font-size: 100%;
}

#sidebar ul {
  padding-left: 1em;
  list-style-type: none;
}

#sidebar li {
  margin-bottom: 0.3em;
}
